body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000080;
}
/* logo animate hero */
@keyframes fadeAnimation {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.animated-logo {
  animation: fadeAnimation 5s infinite;
}
/* mobile menu */

.hamburger-icon {
  transition: transform 0.3s ease-in-out;
}
.hamburger-icon.open {
  transform: rotate(45deg);
}
.hamburger-icon.closed {
  transform: rotate(0deg);
}

/* benefits animate */

@keyframes scaleUp {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: scaleUp 3s infinite;
}

/* currency bar  */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* prices bar  */

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
